* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.large-container {
    width: 1280px;
}

@media (max-width: 1300px) {
    .large-container {
        width: 100%;
    }
}

.popup-menu {
    background-color: inherit;
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    .popup-menu {
        background-color: black;
        color: white;
    }
}